@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://unpkg.com/normalize.css@8.0.1/normalize.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="@Configuration["ASSETS"]/@ViewData["Css"]" />
</head>

<body class="mdc-typography" data-mode="@ViewData["DataMode"]">
    @RenderBody()
    <script async src="@Configuration["ASSETS"]/@ViewData["Js"]"></script>
    <!--<script type="text/javascript" src="@Configuration["ASSETS"]/dvelop-dapi/scripts/dapi.js"></script>-->
</body>
</html>